.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
dist
*.psd
*.ai
*.zip
*.apk
*.ipa
*.prepo
*.avi
*.mp4
*.mkv
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.class
*.log
*.sql
*.sqlite
